<div class="nav">
    <a routerLink="/roothome"><i class="ri-arrow-left-circle-fill home"></i></a>
    <h2>Manage Posts</h2>
</div>

    <div class="catsection" >
        <div class="cat-head">
            <h2>Select category</h2>
        </div>
        <div class="hold">
            <div *ngFor="let cat of categories" class="cats" (click)="getPosts(cat)">
                <span class="mx-auto">{{cat}}</span>
            </div>
        </div>
    </div>
    <hr>
    <router-outlet></router-outlet> 