<h2 class="ml-3 mb-4">All posts under category: <span id="name">{{update.category}}</span></h2>

<div class="container back">
    <div class="in">
        <div id="post" *ngFor="let post of headlineArr">
            <div id="heading">
                <h3>{{post.headline |titlecase| slice:0:20}}{{ post.headline.length > 20 ? '...' : '' }}</h3>
            </div>
            <div class="options">
                <i class="ri-delete-bin-2-line del" (click)="delete(post._id)"></i><i class="ri-edit-2-line edit" (click)="edit(post._id)"></i>
            </div>
        </div> 
        <h2 *ngIf="headlineArr.length === 0">No posts Available</h2>
    </div>
</div>