*{
    box-sizing: border-box;
}
#form{
    display: block;
    position: relative;
    top: 70px;
    margin: 2px auto;
    width: 19rem
}
label{
    font-family:'Arial', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: larger;
}
.editor{
    margin-top: 6rem; 
}

.nav{
    background-color: rgb(249, 224, 190);
}

a{
    text-decoration: none;
}

.home{
    font-size: 2.5rem;
    cursor: pointer;
    color: rgb(58, 30, 84);
    position: relative;
    left: 2.5rem;
    border-radius: 10px;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.home:hover{
    color: rgb(169, 94, 239);
    transform: scale(1.1);
}

.nav>h2{
    margin: auto auto ;
    letter-spacing: 2px;
}
